.container2 {
    @include grid(grid, 1fr 1fr);
    padding: 20px 0;
    background: $white;

    @media (max-width: 840px) {
        grid-template-columns: minmax(180px, 600px);
        justify-content: center;
    }

    .box, .box1 {
        display: grid;
        grid-template-columns: 75px minmax(200px, 1fr);
        margin: 20px 0 0 20px;
        padding: 10px;

        @media (max-width:330px) {
            margin-left: 10px;
        }


        figure {
            grid-row: span 2;
        }

        img {
            width: 55px;
        }

        h2 {
            @include headings2;
            margin-bottom: 1px;
        }

        p {
            @include paragraph;
            padding-right: 10px;
            grid-column: 2;
        }
    }
}
