footer {
    padding: 40px 0 20px 0;
    background: #333;
    margin-bottom: 70px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    @media (max-width:917px) {
        margin-bottom: 0px;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        li {
            margin-left: 15px;

            a {
                color:#cccccc;
                text-decoration: none;
                transition: all 0.3s;

                &:hover {
                    color:$white;
                }

            }
        }
    }

    p {
        text-align: center;
        color: #ffffffb3;
        padding: 0 15px;
    }
}