#others  {
    @include grid (grid, 1fr 1fr 1fr, 10px);
    padding: 40px 10px;
    background: $white;

    @media (max-width: 660px) {
        grid-template-columns: 1fr;
    }

    img {
        width: 100%;
    }

    h2 {
        @include headings2;
        text-align: center;
        font-weight: bold;
        margin: 10px 0;
    }

    p {
        @include paragraph;
        text-align: center;

        @media (max-width: 660px) {
            margin-bottom: 20px;
        }
    }

}